* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  box-sizing: border-box;
}

footer,
.main-padding {
  padding: 2%;
}

.full-screen {
  min-height: 100vh;
}

.bg-muted {
  background-color: #fbfbfb;
}

.inherit-background {
  background: inherit;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(84, 82, 82, 0.5);
}

.flags-shadow {
  -webkit-box-shadow: 8px -10px 23px -15px rgba(161, 161, 166, 1);
  -moz-box-shadow: 8px -10px 23px -15px rgba(161, 161, 166, 1);
  box-shadow: 8px -10px 23px -15px rgba(161, 161, 166, 1);
}

.services-rectangle {
  background-color: #0070d2;
  width: 1.5rem;
  height: auto;
}

.yoso-blue {
  background-color: #0070d2;
}

.map-area-rectangle {
  background-color: #0070d2;
  min-width: 80px;
  min-height: 80px;
}
