* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  box-sizing: border-box;
}

footer,
section .main-padding,
.main-padding {
  padding: 5% 10%;
}

.full-screen {
  min-height: 100vh;
}

.bg-muted {
  background-color: #fbfbfb;
}

.navbar-border {
  border-bottom: 1px solid rgb(205, 205, 205);
  position: absolute;
  bottom: 0;
  left: 3%;
  right: 3%;
}

.inherit-background {
  background: inherit;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(84, 82, 82, 0.5);
}

.flags-shadow {
  -webkit-box-shadow: 2px -4px 6px -3px #707070;
  box-shadow: 2px -4px 6px -3px #707070;
}

.services-rectangle {
  background-color: #0070d2;
  width: 1.5rem;
  height: auto;
}

.yoso-blue {
  background-color: #0070d2;
}

.map-area-rectangle {
  background-color: #0070d2;
  min-width: 80px;
  min-height: 80px;
}

.security-rectangle {
  background-color: #ffffff;
  min-width: 50px;
  min-height: 80px;
}

.jobs-links-color {
  color: #a2004d;
}

.jobs li::marker {
  content: "➢";
  color: #a2004d;
}
