* {
    --colorPrimary: #8a98c0;
    --colorSecondary: #FFE3AE;
    --colorSupplement: #010713;
    --colorLight: #D1D3E0;
    --colorSunnyMiddle: #f3cd87;
    --colorSunny: #ce9a3a;
    --colorCloudy: #667FB0;
    --backgroundColor: linear-gradient(rgba(243, 185, 71, 0.302), rgba(243, 185, 71, 0.302)), url("Images/vlak_verze03_1950_ghostc.jpg");
}