* {
    --colorPrimary: #8A98C0;
    --colorSecondary: rgb(226, 226, 20);
    --colorSupplement: #010713;
    --colorLight: #D1D3E0;
    --colorSunnyMiddle: #e3e568;
    --colorSunny: #f3f5c8;
    --colorCloudy: #667FB0;
    --backgroundColor: linear-gradient(rgba(226, 226, 20, 0.302), rgba(226, 226, 20, 0.302)), url("Images/Vlak_verze03_1950_ghostc.jpg");
}