
/******* Header *******/

@media screen and (min-width: 600px) {
    .nav-toggle {
        display: none;
    }

    .nav-menu {
        display: block;
    }
}


/******* O nás *******/


/****** Poslytované služby ******/

@media only screen and (max-width: 767px) {
	.processes-info img { 
		margin-left: 12px;
	}
}

/******* Analýza firemních procesů *******/


/******* Software na míru *******/

@media  only screen and (max-width: 1173px) {

    .work-list li {
        display: block;
    }
}

    /******* Naši partneři *******/

@media only screen and (max-width: 1661px) {
    .partners-logo {
       padding-left: 180px;
    }
}

@media only screen and (max-width: 1529px) {
    .partners-logo {
       padding-left: 150px;
    }
}

@media only screen and (max-width: 1395px) {
    .partners-logo {
       padding-left: 130px;
    }
}

@media only screen and (max-width: 1244px) {
    .partners-logo {
       padding-left: 110px;
    }
}

@media only screen and (max-width: 1094px) {
    .partners-logo {
       padding-left: 90px;
    }
}

@media only screen and (max-width: 986px) {
    .partners-logo {
       padding-left: 140px;
    }
}

@media only screen and (max-width: 765px) {
    .partners-logo {
       padding-left: 200px;
    }
}

@media only screen and (max-width: 711px) {
    .partners-logo {
       padding-left: 180px;
    }
}

@media only screen and (max-width: 647px) {
    .partners-logo {
       padding-left: 160px;
    }
}

@media only screen and (max-width: 587px) {
    .partners-logo {
       padding-left: 150px;
    }
}

@media only screen and (max-width: 547px) {
    .partners-logo {
       padding-left: 120px;
    }
}

/******* Jak pracujeme_work-list *******/

@media only screen and (max-width: 1793px) {
    .work-list {
       margin-left: 90px;
    }
}

@media only screen and (max-width: 1667px) {
    .work-list {
       margin-left: 110px;
    }
}

@media only screen and (max-width: 1594px) {
    .work-list {
       margin-left: 130px;
    }
}

@media only screen and (max-width: 1552px) {
    .work-list {
       margin-left: 150px;
    }
}

@media only screen and (max-width: 1397px) {
    .work-list {
       margin-left: 100px;
    }
}
@media only screen and (max-width: 1320px) {
    .work-list {
       margin-left: 120px;
    }
}

@media only screen and (max-width: 1232px) {
    .work-list {
       margin-left: 140px;
    }
}

@media only screen and (max-width: 1188px) {
    .work-list {
       margin-left: 110px;
    }
}

@media only screen and (max-width: 991px) {
    .work-list {
       margin-left: 30px;
    }
}

@media only screen and (max-width: 883px) {
    .work-list {
       margin-left: 50px;
    }
}

@media only screen and (max-width: 843px) {
    .work-list {
       margin-left: 70px;
    }
}

@media only screen and (max-width: 742px) {
    .work-list {
       margin-left: 20px;
    }
}

@media only screen and (max-width: 680px) {
    .work-list {
       margin-left: 50px;
    }
}

@media only screen and (max-width: 591px) {
    .work-list {
       margin-left: 60px;
    }
}

/******* Jak pracujeme_work-list img *******/

@media only screen and (max-width: 1793px) {
    .work-list img {
       padding-right: 50px;
    }
}

@media only screen and (max-width: 674px) {
    .work-list img {
       padding-right: 50px;
    }
}

/******* Jak pracujeme_work-list li *******/

@media only screen and (max-width: 636px) {
    .work-list li {
       padding-right: 55px;
    }
}

/******* Své starosti přenechte nám *******/


/******* Technologie *******/

@media only screen and (max-width: 1599px) {
    .technologic-logo {
        padding-left: 80px;
    }
}

@media only screen and (max-width: 1368px) {
    .technologic-logo {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1168px) {
    .technologic-logo {
        padding-left: 20px;
    }
}
@media only screen and (max-width: 991px) {
    .technologic-logo {
        padding-left: 120px;
    }
}

@media only screen and (max-width: 849px) {
    .technologic-logo {
        padding-left: 140px;
    }
}

@media only screen and (max-width: 766px) {
    .technologic-logo {
        padding-left: 200px;
    }
}

@media only screen and (max-width: 721px) {
    .technologic-logo {
        padding-left: 180px;
    }
}

@media only screen and (max-width: 650px) {
    .technologic-logo {
        padding-left: 160px;
    }
}

@media only screen and (max-width: 595px) {
    .technologic-logo {
        padding-left: 140px;
    }
}

@media only screen and (max-width: 540px) {
    .technologic-logo {
        padding-left: 90px;
    }
}



